@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --corprincipal: #1A120B;
    --corsecundaria: #E5E5CB;
    --cortitulo: #3C2A21;
}

body{
    background-color: var(--corsecundaria);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho h1 {
    color: var(--cortitulo);
}

.cabecalho img {
    max-width: 70px;
    max-height: 70px;
    width: auto;
    height: auto;
}

.container__input {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.container__input .input {
    width: 400px;
    height: 330px;
}

#input__texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: var(--cortitulo);
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: uppercase;
}

#output {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cortitulo);
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 3%;
}

#output h2 {
    text-align: center;
    font-size: 25px;
    color: var(--cortitulo);
}

#output span {
    font-size: 16px;
    text-align: center;
}

#output img {
    max-width: 300px;
    max-width: 300px;
    width: auto;
    height: auto;
    margin-top: 1%;
}

.container__btn button{
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--cortitulo);
    width: 150px;
    height: 50px;
    margin-left: 4%;
    cursor: pointer;
}

.btn__copiar {
    border: 2px solid var(--cortitulo);
    border-radius: 10px;
    text-decoration: none;
    color: var(--cortitulo);
    width: 150px;
    height: 50px;
    margin-bottom: 10%;
    margin-left: 30%;
    cursor: pointer;
}

.container__btn button:hover {
    border: 2px solid var(--corsecundaria);
    transition: 0.1s all;
}

.rodape {
    flex-direction: column;
    text-align: center;
    padding: 24px;
    background-color: var(--corprincipal);
    color: var(--corsecundaria);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 2%;
}